<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.hurley.module_user">

    <application>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/User_SettingTheme" />

        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/User_SettingTheme" />

        <activity android:name="ac.hurley.module_common.base.activity.WebViewActivity" />
    </application>
</manifest>